.photo-list-item {
  margin: 24px;
  padding: 8px;
  border-width: 0.5px;
  border-color: rgb(97, 88, 88);
  border-style: solid;
  border-radius: 8px;
  max-width: fit-content;
  position: relative; /* Ensure a positioning context */
}
.photo-list-item__photo__container {
  position: relative;
  display: inline-block;
  object-fit: cover;
  flex-direction: row;
}

.photo-list-item__image {
  user-select: none;
  width: 300px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  border-color: rgb(97, 88, 88);

  &:hover {
    cursor: pointer;
  }
}


.photo-list-item__user__container {
  display: flex;
  flex-direction: row;
  margin-left: 8px;
}

.photo-list-item__user__profile {
  object-fit: cover;
  padding-right: 10px;
  border-radius: 100%;
  border-color: rgb(97, 88, 88);
  vertical-align: middle;
  width: 50px;
  height: 50px;
  margin-top: 5px;
}

.photo-list-item__user__username {
  //display: flex;
  color: #080808;
  margin-top: 5px;
}

.photo-list-item__location {
  color: #838383;
}